*{
	box-sizing: border-box;
}

html, body, #wrapper{
	margin: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#wrapper{
	display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 300px; 
}

header{
  grid-column: span 2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to bottom, rgb(33, 35, 37), rgb(48, 52, 56));
}

#modeSelector{
	color: white;
	display: flex;
	align-items: center;
	margin: 0 20px;
	height: 70%;
}

#modeSelector > *{
	margin: 0 20px;
	cursor: pointer;
	height: 100%;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Gill Sans", sans-serif;
	font-size: 21px;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
}

*[mode="SIMULATION"] *[mode="SIMULATION"]{
	border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
}

*[mode="VISUALIZATION"] *[mode="VISUALIZATION"]{
	border-bottom: 2px solid rgba(255, 255, 255, 1) !important;
}

#container{
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sideSimulation{
	background-color: #1a1b1e;
	padding: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#colorPickerWrapper{
	margin: 5px 0;
	padding: 15px;
	border: 2px solid #c5e9ff;
	border-radius: 10px;
	background-color: #64b9ff18;
	display: grid;
	width: min-content;
  grid-template-columns: 1fr 1fr 1fr; 

}

#colorPickerWrapper > span{
	color:  #ffffff;
	grid-column: span 3;
	align-self: center;
	justify-self: center;
	padding: 5px;
	font-family: "Gill Sans", sans-serif;
	font-size: large;
	margin-bottom: 10px;
}

#colorPickerWrapper > *:not(:first-child){
	color:  #ffffff;
	align-self: center;
	justify-self: center;
	font-family: "Gill Sans", sans-serif;
	font-size: large;
	height: 50px;
	width: 50px;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 2px solid #c5e9ff00;
	cursor: pointer;
}

#colorPickerWrapper > *:not(:first-child).selected{
	border: 2px solid #c5e9ff;
	transition: .5s border;
}